body {
  color: yellow;
  font-family: sans-serif;;
  padding: 10px;
}

.screen {
  width:320px;
  height: 568px;
  background-color: blue;
  margin: 20px auto;
  background-image: url("https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQNHB8_0bFaH3Wk8gcn1vTdJEDUe6ZY7vEMbADddIP4eKK3qbONBQ");
}
